<div class="jumbotron jumbotron-fluid bg-dark text-light p-5">
  <h1>Burgers App!</h1>
</div>

<div class="container">
  <div class="row">
    {{!-- column for form --}}
    <div class="col-12 col-md-3">
      <form id="burger-form">
        <input class="form-control" id="name-input" placeholder="Burger Name"/>
        <button class="btn btn-success btn-block" type="submit">
          Add A burger!
        </button>
      </form>
    </div>
    {{!-- end left column --}}
    {{!-- right column to display burgers--}}
    <div class="col-12 col-md-9">
      {{!-- make two columns in right column --}}
      <div class="row">
        {{!-- inner left column --}}
        <div class="col-12 col-md-6">
          <h2>Burgers That Aren't eaten</h2>
          <ul class="list-group">
            {{!-- use handlebars to print burgers that aren't eaten --}}
            {{#each burgerData}}
              {{!-- this is the same as saying !== --}}
              {{#unless eaten}}
                <li class="list-group-item d-flex">
                  {{burger_name}} 
                  <span class="ml-auto">
                    <button 
                      data-id="{{id}}"
                      data-eaten="true"
                      class="btn btn-sm btn-info update-burger"
                      >
                    Eat Burger
                    </button>

                    {{!-- delete burger --}}
                    <button
                      data-id="{{id}}"
                      class="btn btn-sm btn-danger delete-burger"
                    >
                      Delete burger
                    </button>
                  </span>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
        {{!-- end inner left --}}
        {{!-- inner right --}}
        <div class="col-12 col-md-6">
          <h2>Burgers That Are eaten</h2>
          <ul class="list-group">
            {{!-- use handlebars to print burgers that aren't eaten --}}
            {{#each burgerData}}
            {{!-- this is the same as saying !== --}}
            {{#if eaten}}
            <li class="list-group-item d-flex">
              {{burger_name}}
              <span class="ml-auto">
                {{!-- <button data-id="{{id}}" data-eaten="false" class="btn btn-sm btn-info update-burger">
                eat
                </button> --}}
        
                {{!-- delete burger --}}
                <button data-id="{{id}}" class="btn btn-sm btn-danger delete-burger">
                  Delete burger
                </button>
              </span>
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        {{!-- end inner right --}}
      </div>
    </div>
  </div>
</div>

<script src="assets/js/burgers.js"></script>